name: Build&Deploy

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get current date
        id: date
        run: |
          DATE=$(date +%d)
          MONTH=$(date +%B)
          YEAR=$(date +%Y)
          case $MONTH in
            January) MONTH_ID="Januari" ;;
            February) MONTH_ID="Februari" ;;
            March) MONTH_ID="Maret" ;;
            April) MONTH_ID="April" ;;
            May) MONTH_ID="Mei" ;;
            June) MONTH_ID="Juni" ;;
            July) MONTH_ID="Juli" ;;
            August) MONTH_ID="Agustus" ;;
            September) MONTH_ID="September" ;;
            October) MONTH_ID="Oktober" ;;
            November) MONTH_ID="November" ;;
            December) MONTH_ID="Desember" ;;
          esac
          RELEASE_NAME="Release - $DATE $MONTH_ID $YEAR"
          TAG_NAME="v$YEAR.$(date +%m).$DATE"
          echo "release_name=$RELEASE_NAME" >> $GITHUB_OUTPUT
          echo "tag_name=$TAG_NAME" >> $GITHUB_OUTPUT

      - name: Create and push tag
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git tag ${{ steps.date.outputs.tag_name }}
          git push origin ${{ steps.date.outputs.tag_name }}

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.date.outputs.tag_name }}
          name: ${{ steps.date.outputs.release_name }}
          body: ${{ github.event.head_commit.message }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          # list of Docker images to use as base name for tags
          images: |
            rezytijo/zoom-telebot
          # generate Docker tags based on the following events/attributes
          tags: |
            type=raw,value=latest
            type=schedule
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64
